<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_pdfgen_root"
              name="PDF Generator API"
              web_icon="pdfgeneratorapi_connector,static/description/icon.png"
              sequence="95"/>

    <menuitem id="menu_pdfgen_datasets"
              name="Field Datasets"
              parent="menu_pdfgen_root"
              action="action_pdfgen_model_dataset"
              groups="base.group_system"
              sequence="20"/>

    <menuitem id="menu_pdfgen_template_editor"
              name="Template Editor"
              parent="menu_pdfgen_root"
              action="action_pdfgen_template_editor"
              groups="base.group_system"
              sequence="30"/>

    <menuitem id="menu_pdfgen_async_jobs"
              name="Async Jobs"
              parent="menu_pdfgen_root"
              action="action_pdfgen_async_job"
              groups="base.group_user"
              sequence="40"/>

    <menuitem id="menu_pdfgen_settings"
              name="Settings"
              parent="menu_pdfgen_root"
              action="action_pdfgen_settings"
              groups="base.group_system"
              sequence="10"/>
</odoo>
